In [63]:
import pandas as pd
import numpy as np
import ast
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error # poner este como metrica
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
dfmerge = pd.read_csv('/content/drive/MyDrive/merged_data2.csv')
dfmerge.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,ActorNames,DirectorNames
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,English,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,...,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.712900,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,NaN,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,...,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer

In [66]:
# Verificar las columnas en DataFrames

dfmerge.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return', 'ActorNames', 'DirectorNames'],
      dtype='object')

In [67]:
# Aseguramos que la columna 'release_date' sea de tipo datetime
dfmerge['release_date'] = pd.to_datetime(dfmerge['release_date'], format='%Y-%m-%d')

In [68]:
dfmerge.to_csv('dfmerge.csv', index=False)

def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [69]:
def cantidad_filmaciones_mes(mes):
    # Mapeamos el mes en español a su valor numérico
    mes_map = {
        'enero': 1,
        'febrero': 2,
        'marzo': 3,
        'abril': 4,
        'mayo': 5,
        'junio': 6,
        'julio': 7,
        'agosto': 8,
        'septiembre': 9,
        'octubre': 10,
        'noviembre': 11,
        'diciembre': 12,
    }
    
    if mes.lower() not in mes_map:
        return {"error": "Por favor, ingrese un mes válido."}
    
    # Filtramos el DataFrame para solo las películas que fueron estrenadas en el mes dado
    df_mes = dfmerge[dfmerge['release_date'].dt.month == mes_map[mes.lower()]]
    
    # Contamos las películas
    conteo_peliculas = df_mes.shape[0]
    
    return {"resultado": f"{conteo_peliculas} películas fueron estrenadas en el mes de {mes}"}

In [70]:
resultado = cantidad_filmaciones_mes("noviembre")
print(resultado)

{'resultado': '3479 películas fueron estrenadas en el mes de noviembre'}

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X

In [71]:
def cantidad_filmaciones_dia(dia):
    # Mapeamos el día en español a su valor numérico
    dias_map = {
        'lunes': 0,
        'martes': 1,
        'miércoles': 2,
        'jueves': 3,
        'viernes': 4,
        'sábado': 5,
        'domingo': 6
    }
    
    if dia.lower() not in dias_map:
        return {"error": "Por favor, ingrese un día válido."}
    
    # Filtramos el DataFrame para solo las películas que fueron estrenadas en el día dado
    df_dia = dfmerge[dfmerge['release_date'].dt.dayofweek == dias_map[dia.lower()]]
    
    # Contamos las películas
    conteo_peliculas = df_dia.shape[0]
    
    return {"resultado": f"{conteo_peliculas} películas fueron estrenadas en los días {dia}"}

In [72]:
resultado = cantidad_filmaciones_dia("martes")
print(resultado)

{'resultado': '4360 películas fueron estrenadas en los días martes'}

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
                    Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [73]:
def score_titulo(titulo_de_la_filmacion):
    # Filtramos el DataFrame por el título de la filmación
    pelicula = dfmerge[dfmerge['title'] == titulo_de_la_filmacion]
    
    if pelicula.empty:
        return {"error": "No se encontró la película."}
    
    # Obtenemos el año de estreno y el score de la película
    año_estreno = pelicula['release_year'].values[0]
    score = pelicula['popularity'].values[0]
    
    return {"resultado": f"La película {titulo_de_la_filmacion} fue estrenada en el año {año_estreno} con un score/popularidad de {score}"}

In [74]:
resultado = score_titulo("Toy Story")
print(resultado)

{'resultado': 'La película Toy Story fue estrenada en el año 1995 con un score/popularidad de 21.946943'}

def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
                    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [75]:
def votos_titulo(titulo_de_la_filmacion):
    # Filtramos el DataFrame por el título de la filmación
    pelicula = dfmerge[dfmerge['title'] == titulo_de_la_filmacion]
    
    if pelicula.empty:
        return {"error": "No se encontró la película."}
    
    vote_count = pelicula['vote_count'].values[0]
    vote_average = pelicula['vote_average'].values[0]
    release_year = pelicula['release_year'].values[0]
    
    if vote_count < 2000:
        return {"error": "La película no cumple con la cantidad mínima de valoraciones."}
    
    return {"resultado": f"La película {titulo_de_la_filmacion} fue estrenada en el año {release_year}. La misma cuenta con un total de {vote_count} valoraciones, con un promedio de {vote_average}"}

In [76]:
resultado = votos_titulo("Grumpier Old Men")
print(resultado)

{'error': 'La película no cumple con la cantidad mínima de valoraciones.'}

In [62]:
'''dfmerge = dfmerge.dropna(subset=['ActorNames'])

# Monta tu Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Especifica la ruta y el nombre de archivo para guardar el dataset
ruta_archivo = '/content/drive/MyDrive/merged_data2.csv'

# Exporta el DataFrame al archivo CSV
dfmerge.to_csv(ruta_archivo, index=False)

'''

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.
                    Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

In [77]:
def get_actor(nombre_actor):
    # Filtramos el DataFrame por el nombre del actor
    actor_films = dfmerge[dfmerge['ActorNames'].str.contains(nombre_actor, case=False)]
    
    if actor_films.empty:
        return {"error": "No se encontró el actor en el dataset."}
    
    film_count = actor_films.shape[0]
    total_return = actor_films['return'].sum()
    average_return = total_return / film_count
    
    return {"resultado": f"El actor {nombre_actor} ha participado en {film_count} filmaciones. Ha conseguido un retorno total de {total_return} con un promedio de {average_return} por filmación."}

In [78]:
resultado = get_actor("Robin Williams")
print(resultado)

{'resultado': 'El actor Robin Williams ha participado en 82 filmaciones. Ha conseguido un retorno total de 155.6881040048321 con un promedio de 1.8986354146930744 por filmación.'}

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [79]:
def get_director(nombre_director):
    # Filtrar el DataFrame por el nombre del director
    df_director = dfmerge[dfmerge['DirectorNames'] == nombre_director]

    # Verificar si el director existe en el dataset
    if df_director.empty:
        return {"error": "El director especificado no se encuentra en el dataset."}

    # Calcular el éxito del director como la suma de los retornos individuales
    exito = df_director['return'].sum()

    # Obtener los datos de cada película del director
    peliculas = []
    for index, row in df_director.iterrows():
        pelicula = {
            'titulo': row['title'],
            'fecha_lanzamiento': row['release_date'],
            'retorno_individual': row['return'],
            'costo': row['budget'],
            'ganancia': row['revenue']
        }
        peliculas.append(pelicula)

    return {"exito": exito, "peliculas": peliculas}

In [80]:
resultado = get_director("John Lasseter")
print(resultado)

{'exito': 21.00525680277778, 'peliculas': [{'titulo': 'Toy Story', 'fecha_lanzamiento': Timestamp('1995-10-30 00:00:00'), 'retorno_individual': 12.4518011, 'costo': 30000000, 'ganancia': 373554033.0}, {'titulo': "A Bug's Life", 'fecha_lanzamiento': Timestamp('1998-11-25 00:00:00'), 'retorno_individual': 3.027157158333333, 'costo': 120000000, 'ganancia': 363258859.0}, {'titulo': 'Toy Story 2', 'fecha_lanzamiento': Timestamp('1999-10-30 00:00:00'), 'retorno_individual': 5.526298544444445, 'costo': 90000000, 'ganancia': 497366869.0}]}